// Lato

@font-face {
	font-family: 'Lato-Bold';
	src: url('/assets/fonts/lato/Lato-Bold.eot');
	src: url('/assets/fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
	     url('/assets/fonts/lato/Lato-Bold.woff') format('woff'),
	     url('/assets/fonts/lato/Lato-Bold.ttf') format('truetype'),
	     url('/assets/fonts/lato/Lato-Bold.svg#webfont') format('svg');
}

@font-face {
	font-family: 'Lato-Regular';
	src: url('/assets/fonts/lato/Lato-Regular.eot');
	src: url('/assets/fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
	     url('/assets/fonts/lato/Lato-Regular.woff') format('woff'),
	     url('/assets/fonts/lato/Lato-Regular.ttf') format('truetype'),
	     url('/assets/fonts/lato/Lato-Regular.svg#webfont') format('svg');
}

@font-face {
	font-family: 'Aleo-Bold';
	src: url('/assets/fonts/aleo/Aleo-Bold.eot');
	src: url('/assets/fonts/aleo/Aleo-Bold.eot?#iefix') format('embedded-opentype'),
	     url('/assets/fonts/aleo/Aleo-Bold.woff') format('woff'),
	     url('/assets/fonts/aleo/Aleo-Bold.ttf') format('truetype'),
	     url('/assets/fonts/aleo/Aleo-Bold.svg#webfont') format('svg');
}

@font-face {
	font-family: 'Aleo-Regular';
	src: url('/assets/fonts/aleo/Aleo-Regular.eot');
	src: url('/assets/fonts/aleo/Aleo-Regular.eot?#iefix') format('embedded-opentype'),
	     url('/assets/fonts/aleo/Aleo-Regular.woff') format('woff'),
	     url('/assets/fonts/aleo/Aleo-Regular.ttf') format('truetype'),
	     url('/assets/fonts/aleo/Aleo-Regular.svg#webfont') format('svg');
}
